root = true

[*.{kt,kts}]
ktlint_code_style = android_studio
ktlint_function_naming_ignore_when_annotated_with = Composable
ktlint_standard_package-name = disabled
ktlint_standard_no-wildcard-imports = enabled
ktlint_standard_trailing-comma-on-call-site = enabled
ktlint_standard_trailing-comma-on-declaration-site = enabled
ktlint_standard_multiline-expression-wrapping = disabled
ktlint_standard_function-naming = enabled
ktlint_standard_enum-entry-name-case = enabled
ktlint_standard_max-line-length = disabled
ktlint_standard_discouraged-comment-location = enabled
ktlint_standard_property-naming = enabled
ktlint_standard_parameter-list-spacing = enabled
ktlint_standard_filename = disabled
ktlint_standard_no-multi-spaces = enabled
ktlint_standard_function-start-of-body-spacing = enabled
ktlint_standard_function-signature = enabled
